<div class="large-4 small-12 columns" >
	<div class="charter panel" >
		<!-- <h3 class="subheader">{{name}}</h3>
		<a href="#"><img src="../img/asset/{{boatimg}}" alt="{{boat}}"></a> -->
		<figure>
			<img src="../img/asset/{{boatimg}}" alt="{{boat}}">
			<figcaption><h3 class="subheader">{{boat}}</h3></figcaption>
		</figure>
		<div class="panel">
			<ul>
			  <li><span>Type:</span> {{boat_type}}</li>
			  <li><span>Length:</span> {{b_length}}</li>
			  <li><span>Power:</span> {{engines}}</li>
			  <li><span>Electronics:</span> {{tronics}}</li>
			  <li><span>Outfits:</span> {{rigs}}</li>
			</ul>
        </div>

        <a href="{{uri}}" class="button">{{name}}</a>
	</div>
</div>