<div class="item {{tag}}">
	<h3 class="name">{{name}}</h3>
	<pre>{{latin}}</pre>
	<figure class="effect-chico">
		<img alt="{{name}}" src="{{imgurl}}">
		<figcaption>
			<p>{{notes}}</p>
			<a href="#">View more</a>
		</figcaption>
	</figure>
</div>