<div class="item {{tag}}">
	<h3 class="name">{{name}}</h3>
	<pre>{{latin}}</pre>
	<a href="" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">
		<img src="{{imgurl}}"/>
	</a>
	<div id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
	  <p>{{notes}}</p>
	</div>
	<!-- <p class="right panel">{{notes}}</p> -->
</div>