<li class="item">
    <ul class="row">
        <li class="title small-4 columns"><h2>{{name}}</h2><h3>£{{price}}</h3></li>
        <li class="bullet-item small-3 columns"><img src="{{imgurl}}"></li>
        <li class="description small-4 columns"><p>{{notes}}</p></li>
        <li class="cta-button small-1 columns"><a class="button" href="{{link}}">Link</a></li>
    </ul>
</li>