<li class="item">
    <ul class="small-block-grid-5 medium-block-grid-5 large-block-grid-5">
        <li class="title">{{name}}</li>
        <li class="bullet-item"><img src="{{imgurl}}"></li>
        <li class="price">£{{price}}</li>
        <li class="description">{{notes}}</li>
        <li class="cta-button"><a class="button" href="{{link}}">Link</a></li>
    </ul>
</li>