<li>
	<a href="{{image}}.jpg">
		<img src="{{image}}-th.jpg" alt="{{make}} {{model}}" data-caption="{{make}} {{model}}-{{pattern}}">
		<p>{{make}} {{model}}<br/>{{type}}<br/>{{weight}}</p>
	</a>
</li>